Repository Sifchain/sifnode, pull requests merged in 2021-12, with the labels that each got.

#2244 improve codecov for keeper folder
  scripts/cover.sh
  x/clp/keeper/executors.go
  x/clp/keeper/executors_test.go
  x/clp/keeper/keeper_test.go
  x/clp/test/test_common.go
  x/clp/types/types.go
Labels: Testing Team, Sifnode Team

#2241 Feature/margin-mtp-keeper
  app/app.go
  proto/sifnode/margin/v1/query.proto
  proto/sifnode/margin/v1/tx.proto
  proto/sifnode/margin/v1/types.proto
  x/margin/client/cli/query.go
  x/margin/client/cli/tx.go
  x/margin/client/rest/rest.go
  x/margin/keeper/api.go
  x/margin/keeper/genesis.go
  x/margin/keeper/grpc_query.go
  x/margin/keeper/keeper.go
  x/margin/keeper/legacy.go
  x/margin/keeper/msg_server.go
  x/margin/module.go
  x/margin/types/codec.go
  x/margin/types/errors.go
  x/margin/types/expected_keepers.go
  x/margin/types/keys.go
  x/margin/types/query.pb.go
  x/margin/types/tx.pb.go
  x/margin/types/types.go
  x/margin/types/types.pb.go
Labels: Sifnode Team

#2243 feat: margin open long
  app/app.go
  proto/sifnode/clp/v1/types.proto
  proto/sifnode/margin/v1/tx.proto
  proto/sifnode/margin/v1/types.proto
  x/clp/keeper/keeper.go
  x/clp/keeper/pureCalculation.go
  x/clp/types/querier.pb.gw.go
  x/clp/types/types.pb.go
  x/margin/client/cli/tx.go
  x/margin/keeper/api.go
  x/margin/keeper/genesis.go
  x/margin/keeper/grpc_query.go
  x/margin/keeper/keeper.go
  x/margin/keeper/legacy.go
  x/margin/keeper/msg_server.go
  x/margin/module.go
  x/margin/types/codec.go
  x/margin/types/expected_keepers.go
  x/margin/types/genesis.go
  x/margin/types/msgs.go
  x/margin/types/params.go
  x/margin/types/tx.pb.go
  x/margin/types/types.go
  x/margin/types/types.pb.go
Labels: Sifnode Team, Margin Team

#2276 improve codecov for clp/types
  x/clp/types/asset_test.go
  x/clp/types/genesis_test.go
  x/clp/types/msgs.go
  x/clp/types/msgs_test.go
  x/clp/types/params_test.go
  x/clp/types/querier.go
  x/clp/types/querier_test.go
  x/clp/types/types.go
  x/clp/types/types_test.go
Labels: Testing Team, Sifnode Team

#2278 feat: margin-close-long
  proto/sifnode/clp/v1/types.proto
  proto/sifnode/margin/v1/tx.proto
  proto/sifnode/margin/v1/types.proto
  x/clp/types/types.pb.go
  x/margin/client/cli/tx.go
  x/margin/keeper/abci.go
  x/margin/keeper/keeper.go
  x/margin/keeper/msg_server.go
  x/margin/keeper/params.go
  x/margin/module.go
  x/margin/types/codec.go
  x/margin/types/errors.go
  x/margin/types/expected_keepers.go
  x/margin/types/keys.go
  x/margin/types/msgs.go
  x/margin/types/params.go
  x/margin/types/tx.pb.go
  x/margin/types/types.pb.go
Labels: Margin Team

#2297 Fix/tokenregistry output
  scripts/ibc/tokenregistration/envs/betanet.sh
  scripts/ibc/tokenregistration/envs/devnet.sh
  scripts/ibc/tokenregistration/envs/testnet.sh
  scripts/ibc/tokenregistration/generate-ibc-jsons.sh
  scripts/ibc/tokenregistration/sifchain-devnet-1/juno.json
  x/tokenregistry/client/cli/query.go
Labels: Sifnode Team
