Repository Sifchain/sifnode, pull requests merged in 2022-02, with the labels that each got.

#2418 One set of messages for all margin position types
  proto/sifnode/margin/v1/query.proto
  proto/sifnode/margin/v1/tx.proto
  proto/sifnode/margin/v1/types.proto
  x/margin/client/cli/query.go
  x/margin/client/cli/tx.go
  x/margin/client/cli/tx_test.go
  x/margin/keeper/keeper.go
  x/margin/keeper/keeper_test.go
  x/margin/keeper/legacy.go
  x/margin/keeper/legacy_test.go
  x/margin/keeper/msg_server.go
  x/margin/keeper/msg_server_test.go
  x/margin/types/codec.go
  x/margin/types/errors.go
  x/margin/types/expected_keepers.go
  x/margin/types/keys.go
  x/margin/types/keys_test.go
  x/margin/types/msgs.go
  x/margin/types/msgs_test.go
  x/margin/types/query.pb.go
  x/margin/types/tx.pb.go
  x/margin/types/types.go
  x/margin/types/types.pb.go
  x/margin/types/types_test.go
Labels: Margin Team

#2330 Margin Force Close
  proto/sifnode/margin/v1/query.proto
  proto/sifnode/margin/v1/tx.proto
  proto/sifnode/margin/v1/types.proto
  x/margin/client/cli/query.go
  x/margin/client/cli/tx.go
  x/margin/client/cli/tx_test.go
  x/margin/keeper/abci_test.go
  x/margin/keeper/genesis.go
  x/margin/keeper/genesis_test.go
  x/margin/keeper/grpc_query.go
  x/margin/keeper/keeper.go
  x/margin/keeper/keeper_test.go
  x/margin/keeper/legacy.go
  x/margin/keeper/legacy_test.go
  x/margin/keeper/msg_server.go
  x/margin/keeper/msg_server_test.go
  x/margin/keeper/params.go
  x/margin/keeper/params_test.go
  x/margin/types/codec.go
  x/margin/types/errors.go
  x/margin/types/events.go
  x/margin/types/expected_keepers.go
  x/margin/types/genesis_test.go
  x/margin/types/keys.go
  x/margin/types/keys_test.go
  x/margin/types/msgs.go
  x/margin/types/msgs_test.go
  x/margin/types/params.go
  x/margin/types/params_test.go
  x/margin/types/query.pb.go
  x/margin/types/tx.pb.go
  x/margin/types/types.go
  x/margin/types/types.pb.go
  x/margin/types/types_test.go
Labels: Margin Team

#2425 [ChainOps] No nukes
  Makefile
Labels: Ready for Review

#2430 Create margin tutorial.md
  docs/tutorials/margin tutoral.md
Labels: Testing Team, Margin Team

#2443 Feature/margin 1 rest
  x/margin/client/rest/rest.go
  x/margin/client/rest/tx.go
  x/margin/keeper/legacy.go
  x/margin/types/codec.go
  x/margin/types/msgs.go
Labels: Ready for Review, Margin Team

#2464 [ChainOps] Cosmovisor
  cmd/sifnoded/Dockerfile
Labels: Ready for Review
