Repository Sifchain/sifnode, pull requests merged in 2022-06, with the labels that each got.

#2873 custody swap pmtp
  x/margin/keeper/keeper.go
  x/margin/types/expected_keepers.go
Labels: Margin Team

#2878 UpdateMTPHealth formula changes
  x/margin/keeper/keeper.go
Labels: Margin Team

#2927 Fix margin interest rate computation
  x/margin/keeper/keeper.go
Labels: in progress, Margin Team

#2934 Fix: margin open pool accounting
  x/margin/keeper/keeper.go
Labels: Margin Team

#2946 Fix Protocol Automatic Force Close
  x/margin/keeper/abci.go
Labels: Margin Team

#2932 Workflow trigger.
  .github/workflows/release.yml
Labels: Ready for Review

#2940 Avoid relayer always checking from block 0
  cmd/ebrelayer/relayer/cosmos.go
  cmd/ebrelayer/relayer/ethereum.go
Labels: Peggy Team

#2921 remove todo for issue 2825
  x/oracle/genesis_test.go
Labels: Peggy Team

#2850 remove cosmos sender argument in cli
  smart-contracts/src/devenv/sifnoded.ts
  smart-contracts/test/devenv/sifnodedAdapter.ts
  test/integration/framework/src/siftool/sifchain.py
  x/ethbridge/client/cli/tx.go
Labels: Peggy Team

#2769 Fix a bug for remove outdated prophecy
  .github/workflows/go.yml
  x/oracle/keeper/prophecy.go
  x/oracle/keeper/prophecy_test.go
  x/oracle/types/prophecyInfo.go
Labels: Peggy Team
